# {{ ansible_managed }}

{% if cts_role_repos.mirror is defined %}
[base]
name=CentOS-$releasever - Base
baseurl=http://{{ cts_role_repos.mirror }}/centos/$releasever/os/$basearch/
gpgcheck=0
gpgkey=http://mirror.centos.org/centos/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}

[update]
name=CentOS-$releasever - Updates
baseurl=http://{{ cts_role_repos.mirror }}/centos/$releasever/updates/$basearch/
gpgcheck=0
gpgkey=http://mirror.centos.org/centos/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}

[extras]
name=CentOS-$releasever - Extras
baseurl=http://{{ cts_role_repos.mirror }}/centos/$releasever/extras/$basearch/
gpgcheck=0
gpgkey=http://mirror.centos.org/centos/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}

{% if cts_role_repos.epel is defined and cts_role_repos.epel == true %}
[epel]
name=Extra Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch
baseurl=http://{{ cts_role_repos.mirror }}/epel/{{ ansible_distribution_major_version }}/$basearch/
enabled=1
gpgcheck=0
{% endif %}

{% endif %}

{% if cts_role_repos.additional is defined %}
{% for item in cts_role_repos.additional %}
{% if item.id is defined %}
[{{item.id}}]
name={{item.name}}
baseurl={{item.url}}
gpgcheck={{item.gpgcheck}}
enabled={{item.enabled}}
autorefresh={{item.autorefresh}}

{% endif %}
{% endfor %}
{% endif %}
