# {{ ansible_managed }}

deb http://archive.raspbian.org/raspbian {{ ansible_lsb.codename }} main contrib non-free
deb-src http://archive.raspbian.org/raspbian {{ ansible_lsb.codename }} main contrib non-free

deb http://httpredir.debian.org/debian {{ ansible_lsb.codename }}-backports main contrib non-free
