# {{ ansible_managed }}

deb http://httpredir.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free
deb-src http://httpredir.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free

deb http://httpredir.debian.org/debian {{ ansible_lsb.codename }}-updates main contrib non-free
deb-src http://httpredir.debian.org/debian {{ ansible_lsb.codename }}-updates main contrib non-free

deb http://security.debian.org/ {{ ansible_lsb.codename }}/updates main contrib non-free
deb-src http://security.debian.org/ {{ ansible_lsb.codename }}/updates main contrib non-free

deb http://httpredir.debian.org/debian {{ ansible_lsb.codename }}-backports main contrib non-free
deb-src http://httpredir.debian.org/debian {{ ansible_lsb.codename }}-backports main contrib non-free
