# {{ ansible_managed }}

deb http://archive.debian.org/debian-archive/debian/ {{ ansible_lsb.codename }} main contrib non-free
deb-src http://archive.debian.org/debian-archive/debian/ {{ ansible_lsb.codename }} main contrib non-free

deb http://archive.debian.org/debian-security/ {{ ansible_lsb.codename }}/updates main contrib non-free
deb-src http://archive.debian.org/debian-security/ {{ ansible_lsb.codename }}/updates main contrib non-free

deb http://archive.debian.org/debian-backports/ {{ ansible_lsb.codename }}-backports main contrib non-free
deb-src http://archive.debian.org/debian-backports/ {{ ansible_lsb.codename }}-backports main contrib non-free
