# {{ ansible_managed }}

deb http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse
deb-src http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse

deb http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
deb-src http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse

deb http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb-src http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse

deb http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb-src http://old-releases.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
