# {{ ansible_managed }}

deb http://fr.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main restricted

deb http://fr.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main restricted

deb http://fr.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} universe
deb http://fr.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates universe

deb http://fr.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} multiverse
deb http://fr.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates multiverse

deb http://fr.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse


deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
